/*login page*/

.login {
    min-height: 100vh;
  }
  
.bg-image {
/* background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200'); */
background-image: url('https://images.unsplash.com/photo-1557754897-ca12c5049d83?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
background-size: cover;
background-position: center;
}

.login-heading {
font-weight: 300;
}

.btn-login {
font-size: 0.9rem;
letter-spacing: 0.05rem;
padding: 0.75rem 1rem;
}
  
.btn-primary {
    background-color: #fd9543 !important;
    border-color: #fd9543 !important;
    color: #2b425e    !important;
}

.btn-primary:hover {
    background-color: #f8ae75 !important;
}

.createlink {
    color: #ffb339;
}