/*********** navbar css ************/
.mynav {
    /*text-transform: uppercase;*/
    /*border-bottom: 5px solid mediumpurple;*/
    background-color: #141d2a;
    padding-left: 0em;

}

table, th, td, input {
  border: 3px solid #e17b55;
    font-size: large;
    text-align: center;
    background-color: #141d2a;
}

.mynav a {

    color: #e17b55;
}

.navbar-nav {
    margin-left: 100%;
}

ul {
    list-style-type: none;

}

li {
    display: inline;
    float: left;
}
.courses h1{
    border-left: 5px solid;
    border-color: #e17b55;
    padding-left: 10px;
    font-weight:bold;
}

li a, button, .input-field {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 18px 14px 10px;
    font-weight: bold;
    font-size: 14px;
}
.mynav li a:hover, button.btn:hover, .active, .dropbtn:hover {
    color: #e17b55;
    text-decoration: none;
    background-color: #2b425e;
    border-radius: 10%;
}
input.search-input {
    background-color: #2b425e;
    border-color: #2b425e;

}

input.search-input::placeholder {
    color: rgba(225, 123, 85, 0.55);

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Code+Pro&display=swap');
.logo2 {
  
    background-color: #141d2a;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    color: #e17b55;
}

a.navbar-brand{
    font-size: 20px;
    padding-left: 0;
    padding-top: 10px;

}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #141d2a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content.a:hover {
  background-color: #2b425e;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: #e17b55;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #2b425e;}


/*#fefffe*/
/*#2b425e*/
/*#fd9543*/

body, h2 {
    background: #2b425e;
    color: white
}

h2 {
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Code+Pro&display=swap');
.logo2 {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    color: #e17b55;
}

/********************** rest of body css ***************/
.title {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.term, .definition {
  /* border: solid 1px black; */
  border-radius: 10px;
  text-align: center;
  width: 45%;
  height: 30em;
  margin: auto;
  margin-top: 5em;
  /* padding-top: 3em; */
  /* padding-bottom: 3em; */
  padding: 6em 2em;
  background-color: white;
  color: #141d2a;
  font-family: 'Times New Roman', Times, serif;
  
}

.term h3 {
  font-size: 3rem;
}
/* 
.definition {
  display: none;
} */

/* .definition {
  border: solid 5px black;
  border-radius: 10px;
  text-align: center;
  width: 45%;
  margin: auto;
  margin-top: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
} */


.control-btns, .viewDeck-btn {
  text-align: center;
  margin-top: 3em;
}