/*********** navbar css ************/
.mynav {
    /*text-transform: uppercase;*/
    /*border-bottom: 5px solid mediumpurple;*/
    background-color: #141d2a;
    padding-left: 0em;


}

.mynav a {

    color: #e17b55;
}

.navbar-nav {
    margin-left: 100%;
}

ul {
    list-style-type: none;

}

li {
    display: inline;
    float: left;
}

li a, button, .input-field {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 18px 14px 10px;
    font-weight: bold;
    font-size: 14px;
}
.mynav li a:hover, button.btn:hover, .active, .dropbtn:hover {
    color: #e17b55;
    text-decoration: none;
    background-color: #2b425e;
    border-radius: 10%;
}
input.search-input {
    background-color: #2b425e;
    border-color: #2b425e;

}

input.search-input::placeholder {
    color: rgba(225, 123, 85, 0.55);

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Code+Pro&display=swap');
.logo2 {
  
    background-color: #141d2a;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    color: #e17b55;
}

a.navbar-brand{
    font-size: 20px;
    padding-left: 0;
    padding-top: 10px;

}


/*#fefffe*/
/*#2b425e*/
/*#fd9543*/

body, h2 {
    background: #97d2e9;
    color: white
}

h2 {
    font-weight: bold;
}
.screen {
    background-color: #ff80df;
    justify-content: center;
    height: 700px;
    width :100%;
    text-align: center;
    color: #ffffff;
}
.screener {
  justify-content: center;
}
.card {
    padding: 21px 30px 10px;
    color: #000000;
}

input.search {
    background-color: #ff7df4;
    height: 30px;
    width: 170px;
    color: #97d2e9;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Code+Pro&display=swap');
.logo2 {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    color: #e17b55;
}



.arrow {
  position: absolute;
  top: 50%;
  width: 3vmin;
  height: 3vmin;
  background: transparent;
  border-top: 1vmin solid white;
  border-right: 1vmin solid white;
  box-shadow: 0 0 0 lightgray;
  transition: all 200ms ease;
}
.arrow.left {
  left: 0;
  transform: translate3d(0, -50%, 0) rotate(-135deg);
}
.arrow.right {
  right: 0;
  transform: translate3d(0, -50%, 0) rotate(45deg);
}
.arrow:hover {
  border-color: orange;
  box-shadow: 0.5vmin -0.5vmin 0 white;
}
.arrow:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -60%) rotate(45deg);
  width: 200%;
  height: 200%;
}

.float-container {
  background-color: #97d2e9;
  
}

.float-child {
  width: 50%;
  float: left;
  padding: 20px;
  
  background-color: #97d2e9;
}  

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
 *, *::after, *::before {
	 padding: 0;
	 margin: 0;
	 box-sizing: border-box;
}
 body {
	 font-family: "Open Sans", sans-serif;
}
 .content {
	 height: 100vh;
	 background: linear-gradient(to bottom right, #4fbce7, #9bdffa);
	 text-align: center;
	 padding: 4em 0;
}
 .cards {
	 display: flex;
	 justify-content: space-evenly;
}
 .card {
	 width: 25%;
	 position: relative;
	 height: 30em;
	 perspective: 150em;
}
 .card__side {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 30em;
	 backface-visibility: hidden;
	 transition: all 0.6s ease;
	 box-shadow: 1em 1em 2em rgba(0, 0, 0, .2);
}
 .card__side--front {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to right bottom, aqua, #28b485);
}
 .card__side--back {
	 color: rgb(255, 255, 255);
	 transform: rotateY(180deg);
}
 .card__side--back-1 {
	 background-image: linear-gradient(to right bottom, aqua, #28b485);
}
 .card__side--back-2 {
	 background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}
 .card__side--back-3 {
	 background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}
 .card:hover .card__side--front {
	 transform: rotateY(-180deg);
}
 .card:hover .card__side--back {
	 transform: rotate(0);
}
 .card__description {
	 text-transform: uppercase;
	 font-size: 5em;
	 padding: 1em 0;
}
 .card__description svg {
	 width: 1.5em;
	 height: 1.5em;
	 fill: #fff;
}
 
