/*********** navbar css ************/
.mynav {
    /*text-transform: uppercase;*/
    /*border-bottom: 5px solid mediumpurple;*/
    background-color: #141d2a;
    padding-left: 0em;


}

.mynav a {

    color: #e17b55;
}

.navbar-nav {
    margin-left: 100%;
}

ul {
    list-style-type: none;

}

li {
    display: inline;
    float: left;
}

li a, button, .input-field {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 18px 14px 10px;
    font-weight: bold;
    font-size: 14px;
}
.mynav li a:hover, button.btn:hover, .active, .dropbtn:hover {
    color: #e17b55;
    text-decoration: none;
    background-color: #2b425e;
    border-radius: 10%;
}
input.search-input {
    background-color: #2b425e;
    border-color: #2b425e;

}

input.search-input::placeholder {
    color: rgba(225, 123, 85, 0.55);

}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Code+Pro&display=swap');
.logo2 {
  
    background-color: #141d2a;
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    color: #e17b55;
}

a.navbar-brand{
    font-size: 20px;
    padding-left: 0;
    padding-top: 10px;

}


/*#fefffe*/
/*#2b425e*/
/*#fd9543*/

body, h2 {
    background: #2b425e;
    color: white
}

h2 {
    font-weight: bold;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Code+Pro&display=swap');
.logo2 {
    font-family: 'Source Code Pro', monospace;
    font-style: italic;
    color: #e17b55;
}

/************* rest of body css **********/
.title {
  font-family: 'Source Code Pro', monospace;
  text-align: center;
}

.term, .definition {
  border: solid 1px black;
  border-radius: 10px;
  text-align: center;
  width: 45%;
  margin: auto;
  margin-top: 5em;
  /* padding-top: 3em; */
  /* padding-bottom: 3em; */
  padding: 3em 2em;
  background-color: azure;
  color: #141d2a;
  font-family: 'Times New Roman', Times, serif;
}

.definition {
  display: none;
}

/* .definition {
  border: solid 5px black;
  border-radius: 10px;
  text-align: center;
  width: 45%;
  margin: auto;
  margin-top: 2em;
  padding-top: 3em;
  padding-bottom: 3em;
} */

.control-btns {
  text-align: center;
  margin-top: 5em;
}