<!DOCTYPE html>
<html lang="en">

<head profile="http://www.w3.org/2005/10/profile">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8>">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="carousel.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src=
                    "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js">
    </script>
    <link rel="stylesheet" href="/static/Adminfeed.css">

    <!-- Load icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <title>CSE.study()</title>


</head>
<body>
<!--    NAVBAR  -->
<div class="row-cols-auto">
    <nav class="navbar navbar-expand-lg mynav">
        <div class="col-md-4 lg-3">
            <ul>
                <li><a class="navbar-brand" href="Home.html">CSE<span>.study()</span></a>
                </li>
                <li><a href="Home.html">Home</a></li>
            </ul>

        </div>
        <!-- settings cog -->
        <div class="col-4 offset-1">
            <ul class="navbar-nav">
                <div class="dropdown">
                    <button class="dropbtn" style="background-color: #141d2a; border-color: #141d2a"><i
                            class="fa fa-gear"></i>
                    </button>
                    <div class="dropdown-content" method="POST">
                        <a href="{{ url_for('userSettingsPage') }}">Settings</a>
                        <a href="{{ url_for('landing') }}">Logout</a>
                    </div>
                </div>
            </ul>
        </div>
    </nav>
</div>

<!-- RECENT DECKS -->
<div class="row-cols courses">
    <div class="cols-sm-1 offset-1">
      <h1>
        <div class="h1modified">Verify Decks<div>
      </h1>
    </div>
    <!-- <div class="cols-2 offset-10">
        <div class="dropdown">
            <button class="dropbtn">Sort by:</button>
            <div class="dropdown-content">
                <a href="#">Oldest</a>
                <a href="#">Newest</a>
                <a href="#">Alphabetical</a>
            </div>
        </div>
    </div> -->
</div>
<br>
<div class="row-cols-12  offset-1">
    <div class="card-group">
        <div class="cols-1" style="padding: 10px;">
            <div class="card">
                <img src="\static\4804443.jpg" alt="cs" style="height:100%;">
                <div class="container">
                    <h5><b>CMP220: Midterm 1 </b></h5>
                    <p>AmiraEl</p>
                    <a href="#" class="btn btn-primary" style="background-color: #2b425e;">verify</a>
                    <a href="#" class="btn btn-primary" style="background-color: #2b425e;">view</a>
                </div>
            </div>

        </div>
        
    </div>

</div>
<br>
<br>
<!-- RECENTLY VERIFIED -->
<div class="row-cols courses">
    <div class="cols-sm-1 offset-1">
      <h1>
        <div class="h1modified">Recently Verified Decks<div>
      </h1>
    </div>
</div>
<br>
<div class="row-cols-12  offset-1">
    <div class="card-group">
        <div class="cols-1" style="padding: 10px;">
            <div class="card">
                <img src="\static\compEng.png" alt="coe" style="width:100%;">
                <div class="container">
                    <h5><b>COE370: Lab Revision</b> <i class="bi bi-patch-check-fill"></i></h5>
                    <p>AmiraEl</p>
                    <a href="#" class="btn btn-primary" style="background-color: #2b425e;">view</a>
                </div>
            </div>
        </div>
        <div class="cols-1" style="padding: 10px;">
            <div class="card">
                <img src="\static\compEng.png" alt="coe" style="width:100%;">
                <div class="container">
                    <h5><b>COE420: Design Steps</b> <i class="bi bi-patch-check-fill"></i></h5>
                    <p>AmiraEl</p>
                    <a href="#" class="btn btn-primary" style="background-color: #2b425e;" onclick="verifyRedirect()">view</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--bootstrap scripts-->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
<script>
    function verifyRedirect() {
        window.location.href="/templates/adminVerifyDeck.html";
    }
</script>
</body>
</html>
